## Assignment 1

In [22]:
def example_word_count():
    example_string = "Amy is 5 years old"

    result = example_string.split(" ")
    return len(result)

### Part A
Find a list of all of all of the names in the following string using regex.

In [23]:
import re

In [24]:
def names():
    simple_string =  """Amy is 5 years old, and her sister Mary is 2 years old. 
    Ruth and Peter, their parents, have 3 kids."""

    name_pattern = r'\b[A-Z][a-z]*\b'   # Pattern for finding Names starting with Capital letter
    name_list = re.findall(name_pattern, simple_string)
    return name_list

name_list = names()
name_list

['Amy', 'Mary', 'Ruth', 'Peter']

In [25]:
assert len(names()) == 4, "There are four names in the simple_string"

### Part B

The dataset file in [grades.txt](grades.txt) contains a line separated list of people with their grade in a class. Create a regex to generate a list of just those students who received a B in the course.

In [26]:
import re
def grades():
    with open('grades.txt', 'r') as file:
        grades = file.read()

        pattern = r'([A-Z][a-z]+ [A-Z][a-z]+): B'  #pattern for finding grade B student
        b_students  = re.findall(pattern, grades)
        return b_students

In [28]:
print(grades())

['Bell Kassulke', 'Simon Loidl', 'Elias Jovanovic', 'Hakim Botros', 'Emilie Lorentsen', 'Jake Wood', 'Fatemeh Akhtar', 'Kim Weston', 'Yasmin Dar', 'Viswamitra Upandhye', 'Killian Kaufman', 'Elwood Page', 'Elodie Booker', 'Adnan Chen', 'Hank Spinka', 'Hannah Bayer']

In [31]:
assert len(grades()) == 16

### Part C

Consider the standard web log file in [logdata.txt](assets/logdata.txt). This file records the access a user makes when visiting a web page (like this one!). Each line of the log has the following items:

* a host (e.g., '146.204.224.152') 
* a user_name (e.g., 'feest6811' **note: sometimes the user name is missing! In this case, use '-' as the value for the username.**)
* the time a request was made (e.g., '21/Jun/2019:15:45:24 -0700')
* the post request type (e.g., 'POST /incentivize HTTP/1.1' **note: not everything is a POST!**)

Your task is to convert this into a list of dictionaries, where each dictionary looks like the following:
```
example_dict = {"host":"146.204.224.152", 
                "user_name":"feest6811", 
                "time":"21/Jun/2019:15:45:24 -0700",
                "request":"POST /incentivize HTTP/1.1"}
```

In [43]:
import re

def logs():
    with open('logdata.txt', 'r') as file:
        logdata = file.read()

    pattern = r'(?P<host>\S+) - (?P<user_name>\S+) \[(?P<time>[-:\w\s\/]+)\] "(?P<request>.*?)"'
    log_entries = [match.groupdict() for match in re.finditer(pattern, logdata)]
    return log_entries

In [46]:
logentries = logs()
for entry in logentries[:5]:
    print(entry)

{'host': '146.204.224.152', 'user_name': 'feest6811', 'time': '21/Jun/2019:15:45:24 -0700', 'request': 'POST /incentivize HTTP/1.1'}
{'host': '197.109.77.178', 'user_name': 'kertzmann3129', 'time': '21/Jun/2019:15:45:25 -0700', 'request': 'DELETE /virtual/solutions/target/web+services HTTP/2.0'}
{'host': '156.127.178.177', 'user_name': 'okuneva5222', 'time': '21/Jun/2019:15:45:27 -0700', 'request': 'DELETE /interactive/transparent/niches/revolutionize HTTP/1.1'}
{'host': '100.32.205.59', 'user_name': 'ortiz8891', 'time': '21/Jun/2019:15:45:28 -0700', 'request': 'PATCH /architectures HTTP/1.0'}
{'host': '168.95.156.240', 'user_name': 'stark2413', 'time': '21/Jun/2019:15:45:31 -0700', 'request': 'GET /engage HTTP/2.0'}

In [49]:
assert len(logs()) == 979

one_item={'host': '146.204.224.152',
  'user_name': 'feest6811',
  'time': '21/Jun/2019:15:45:24 -0700',
  'request': 'POST /incentivize HTTP/1.1'}
assert one_item in logs(), "Sorry, this item should be in the log results, check your formating"

In [53]:
import pandas as pd
df = pd.DataFrame(logs())
df.head(10)

,host,user_name,time,request
0,146.204.224.152,feest6811,21/Jun/2019:15:45:24 -0700,POST /incentivize HTTP/1.1
1,197.109.77.178,kertzmann3129,21/Jun/2019:15:45:25 -0700,DELETE /virtual/solutions/target/web+services ...
2,156.127.178.177,okuneva5222,21/Jun/2019:15:45:27 -0700,DELETE /interactive/transparent/niches/revolut...
3,100.32.205.59,ortiz8891,21/Jun/2019:15:45:28 -0700,PATCH /architectures HTTP/1.0
4,168.95.156.240,stark2413,21/Jun/2019:15:45:31 -0700,GET /engage HTTP/2.0
5,71.172.239.195,dooley1853,21/Jun/2019:15:45:32 -0700,PUT /cutting-edge HTTP/2.0
6,180.95.121.94,mohr6893,21/Jun/2019:15:45:34 -0700,PATCH /extensible/reinvent HTTP/1.1
7,144.23.247.108,auer7552,21/Jun/2019:15:45:35 -0700,POST /extensible/infrastructures/one-to-one/en...
8,2.179.103.97,lind8584,21/Jun/2019:15:45:36 -0700,POST /grow/front-end/e-commerce/robust HTTP/2.0
9,241.114.184.133,tromp8355,21/Jun/2019:15:45:37 -0700,GET /redefine/orchestrate HTTP/1.0

### Thank you
## Author

[Neelesh Chidar](https://www.linkedin.com/in/neeleshchidar37/)